.alerts-list {
    width: 40vw;
    max-width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #f0fdf4; /* vert très clair */
    border-radius: 10px;
    border: 2px solid #000000; /* vert doux */
}

/* Chaque alerte */
.alert-item {
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}



/* Titre */
.titre {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #065f46;
    font-size: 1.2rem;
    border-bottom: 1px solid #e5e7eb;
}

/* Contenu */
.contenu {
    background-color: #fef3c7; /* jaune clair */
    padding: 10px;
    text-align: left;
    color: #92400e;
    font-size: 1rem;
    height: auto;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 4px;
}

/* Date */
.date {
    font-size: 0.8rem;
    color: #6b7280;
    margin-top: 10px;
}

/* Bouton */
.btnSM {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;

}
.btnSM button{
    border-radius: 50%;
    background-color: aqua ;
}

.btnSM button:hover {
    transform: scale(1.01);
    background-color: red;
}
